
 /* General Gallery Container */
 #gallery {
    padding: 60px 0;
    overflow: hidden;
    color: white;
    
}


#gallery .swiper-pagination {
    bottom: 10px; 
}

#gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #4d80ed;
    opacity: 0.7;
    border: 2px solid #4d80ed;
}


#gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4d80ed;
    opacity: 1;
}


.swiper-slide {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    width: calc(50% - 10px);
    
}


.img-fluid {
    width: 90%;
    height: auto;
    object-fit: cover; 
}


.gallery-frame {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to maintain slider effect */
    justify-content: center;
}


.gallery-frame .gallery-item {
    width: 100%; /* Adjust width to control the number of slides per view */
    padding: 0 5px; /* Space between slides */
}


@media (min-width: 320px) and (max-width: 480px) {
    /* Mobile Devices */
    .swiper-slide {
        width: 100%; /* One slide per view */
        transform: scale(1);
    }

    .swiper-slide-active~.swiper-slide,
    .swiper-slide-prev,
    .swiper-slide-next {
        transform: scale(0.9); /* Slightly smaller slides for non-active */
    }

    .swiper-slide-active {
        transform: scale(1) translateY(0);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
   
    .swiper-slide {
        width: 50%; /* Two slides per view */
    }

    .swiper-slide-active~.swiper-slide,
    .swiper-slide-prev,
    .swiper-slide-next {
        transform: scale(0.85);
    }

    .swiper-slide-active {
        transform: scale(1.15) translateY(-10px);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .swiper-slide {
        width: 33.33%; /* Three slides per view */
    }

    .swiper-slide-active~.swiper-slide,
    .swiper-slide-prev,
    .swiper-slide-next {
        transform: scale(0.85);
    }

    .swiper-slide-active {
        transform: scale(1.15) translateY(-10px);
    }
}

@media (min-width: 1025px) {
    
    .swiper-slide {
        width: 25%; /* Four slides per view */
    }

    .swiper-slide-active~.swiper-slide,
    .swiper-slide-prev,
    .swiper-slide-next {
        transform: scale(0.85);
    }

    .swiper-slide-active {
        transform: scale(1.15) translateY(-10px);
    }
}


.memories {
    text-align: center;
    color: #4d80ed;
    font-size: 4rem;
    font-weight: 700;
}

.description {
    text-align: justify;
    color: #becbd7;
    margin: 2rem 2rem;
    font-size: 1rem;
}

.TITLE {
    text-align: center;
    color: #becbd7;
    font-size: 2rem;
}
